<!DOCTYPE HTML>

<html>

<head>
    <title>ecommerce/inventory</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/dist/css/bootstrap.min.css' />
</head>

<body>

 <!-- Header -->
 <%- include( "./partials/navbar/navbar.ejs") %> 
  <%- body %>


        <!--Google Map APi Key-->

      

</body>

</html>