<%- include( "../partials/error/error") %> 
<form id="form" method="post" action="/users/signup">
    <div class="form-group">
        <label for="inputEmail">Name</label>
        <input type="text" class="form-control" name="name" placeholder="name">
    </div>
    <div class="form-group">
        <label for="inputPassword">Email</label>
        <input type="email" class="form-control" name="email" placeholder="email">
    </div>
    <div class="form-group">
        <label for="inputPassword">Phone number</label>
        <input type="phone_number" class="form-control" name="phone_number" placeholder="phone number">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" name="password" placeholder="password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> show password</label>
    </div>
    <button type="submit" class="btn btn-primary">Create account</button>
</form>