<% if(typeof errormsg!="undefined") {%>
    <% if(errormsg.length > 0) { %> >  
    <div class="row">
    <div class="col-md-4 col-md-offset-4" style="margin: 0 auto;"> 
  <h4 class="alert alert-danger mt-4 errorone" ><%=errormsg%></h4>
  </div>
  </div>
  <%}%>
  <%}%>
  
  <% if(typeof success !="undefined") { %>   
    <% if(success.length > 0) { %>  
      <div class="row">
        <div class="col-md-4 col-md-offset-4" style="margin: 0 auto;"> 
       <h4 class="alert alert-success success"><%=success %></h4> 
  </div>
  </div>
     
  <%}%>
  <%}%>
  
 <% if(typeof error!="undefined") {%>
          <h2><%= error.status %></h2>
          <pre><%= error.stack %></pre>
          <%}%>
      